In [43]:
import matplotlib.pyplot as plt
import pandas as pd

In [85]:
df = pd.read_csv("./87.txt", names = ['val']) 
df = df[df['val'].str.match('    red =')]
df.head()

              val
1       red = 613
16      red = 713
31      red = 712
42      red = 612
49      red = 512

In [86]:
df['val'] = df['val'].map(lambda x: x.lstrip('    red =').rstrip(''))
display(df)

      val
1     613
16    713
31    712
42    612
49    512
...   ...
1428  814
1442  714
1452  614
1465  714
1471  614

[186 rows x 1 columns]

In [87]:
df.to_csv("87_filter.txt", mode='w', header=False, index=False)